<div>
    <p>The Password must contain atleast 6 characters</p>
</div>
<form #authForm = "ngForm" (ngSubmit) = "onSubmit(authForm)">
    <div class="form-group">
        <label for="password">Change Password</label>
        <input type="password" id="password" 
        class="form-control" [(ngModel)] = 'p1' name="password"
        required minlength="6">
    </div>

    <div class="form-group">
        <label for="password1">Confirm Password</label>
        <input type="password" id="password1" 
        class="form-control" [(ngModel)] = 'p2' name="password1"
        required minlength="6">
    </div>

    <p *ngIf = "pwdchanged" style="color: blue;">{{pwdchanged}}</p>
    <p *ngIf = "error" style="color: red;">{{error}}</p>

    <button class="btn btn-primary" type="submit" [disabled]="p1 != p2" [disabled]="!valid">Save</button>
</form>