<p>Profile Name: <b>{{profileService.profile.name}}</b></p>
<br>
<p>Date of Birth: <b>{{profileService.profile.DOB}}</b></p>
<br>
<p>Email: <b>{{profileService.profile.Email}}</b></p>
<br>
<p>Gender: <b>{{profileService.profile.Gender}}</b></p>

<button class = "btn btn-primary" (click) = "showForm()">Edit Form</button>


<div *ngIf = "FormVisibility">
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" name = "name" ngModel required>
               
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="DOB">DOB</label>
                <input type="text" id="DOB" class="form-control" name = "DOB" ngModel required>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" name = "email" ngModel required email>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <input type="text" id="gender" class="form-control" name = "gender" ngModel required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit"  [disabled]="!f.valid">Submit</button>
                </div>
            </div>

</form>
</div>